build/
thirdparty/install/
thirdparty/build/
tmp/
lib/
.vs

*.suo
*.user
*.sln.docstates

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pchi
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
*.lastbuildstate
*.unsuccessfulbuild
*.opendb
*.vc
*.VC.db
*.db-shm
*.db-wal
*.rdc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
